.card-container {
  width: 75px;
  height: 125px;
  padding: 10px;
}

.card {
  height: 100%;
  width: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.card-face,
.card-back {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 2px;
  border-color: #2b2453;
  box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
  position: absolute;
  cursor: pointer;
}

.card-back {
  background-color: darkslateblue;
}

.card-face {
  transition: all 500ms ease;
  background-color: #efefef;
  border-color: slategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  font-size: xx-large;
}

.card-hand {
  display: inline-flex;
  margin-bottom: 10px;
}

.card-input {
  opacity: 0;
  position: absolute;
}

.card-input:checked + label {
  transform: translateY(-20px);
  transition: all 500ms ease;
  font-weight: bold;
  -webkit-box-shadow:0px 0px 5px 5px rgba(70,46,255,0.5);
  -moz-box-shadow: 0px 0px 5px 5px rgba(70,46,255,0.5);
  box-shadow: 0px 0px 5px 5px rgba(70,46,255,0.5);
}

.table-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 50px;
}

.table {
  align-self: center;
  margin-bottom: 25px;
}

.hand-container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.story-container {
  padding: 5px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.story-input {
  padding: auto;
  margin: 10px;
  height: 2em;
  overflow: hidden;
  width: 75%;
  border: 1px solid darkslategray;
  border-radius: 4px;
}

.story-toggle {
  background-color:#bbb;
  display: none;
  padding: auto;
  justify-content: center;
  align-items: center;
}

.story-button {
  margin: 10px;
}